@font-face {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    src: url(../fonts/texgyrepagella-regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    src: url(../fonts/texgyrepagella-bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    src: url(../fonts/texgyrepagella-italic.woff) format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    src: url(../fonts/texgyrepagella-bolditalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
}