:root {
  --system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  font-family: var(--system-fonts);
}

a {
  /* color: #196CD1; */
  color: #2470ce;
  text-decoration: none;
}

a:focus,
a:hover,
author:focus,
author:hover {
  /* color: #B908C5; */
  text-decoration: underline;
  }

body,
td,
th,
li,
tr{
  font-size: 16px;
  color: #404040;
  line-height: 1.4;
}

p{
  font-size: 16px;
  color: #404040;
  margin:0;
  line-height: 1.4;
}

papertext,
author{
  font-size: 16px;
  color: #777777;
  line-height: 1.4;
}

a{
  font-size: 16px;
}

strong {
  font-size: 16px;
  color: #333333;
}

heading{
  font-size: 22px;
  color: #333333;
}

talktitle,
papertitle {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  line-height: 1.4;
}

name {
  font-size: 36px;
  color: #333333;
  line-height: 1.8;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
  color: #333333;
}


h2{
  font-size: 22px;
  font-weight: 500;
  margin:0;
  line-height: 2.2;
  color: #333333;
}


h3{
  font-size: 16px;
  color: #333333;
}

h4{
  font-size: 16px;
  margin:0;
  color: #333333;
}

ul {
  margin: 0;
}

/* Filtering styles */
.publication-filter {
    margin: 10px 0;
    font-size: 16px;
}

.publication-filter a {
    color: #2470ce;
    text-decoration: none;
    cursor: pointer;
}

.publication-filter a.active {
    font-weight: bold;
    color: #333333;
    text-decoration: underline;
}

.topic-menu {
    margin: 5px 0 15px 0;
    font-size: 16px;
    padding: 0;
}

.topic-menu p {
    margin: 4px 0;
    line-height: 1.4;
    color: #333333;
}

.topic-menu a {
    color: #2470ce;
    text-decoration: none;
    cursor: pointer;
}

.topic-menu a:hover {
    text-decoration: underline;
}

.topic-menu a.active {
    font-weight: bold;
    color: #333333;
    text-decoration: underline;
}

.year-header {
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.topic-header {
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
}
